.container {
  max-width: 960px;
}

/*
   * Custom translucent site header
   */

.hero {
  background-image: url(../img/hero.png);
}
.overlay {
  background: black;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0.8;
  z-index: -1;
}

.line {
  background: orangered;
  height: 1px;
  width: 120px;
}

.line.center {
  margin: 0 auto;
}

.line.white {
  background: #ffffff;
}

.orange-btn {
  background-color: #ff9b51;
  border: none;
}
.site-header {
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.btn-white {
  color: #fff;
  border-color: #fff;
  border-radius: 0;
  padding: 7px 45px;
}

.custom-panel {
  background-image: url(../img/custom-panel.png);
}

.half-width {
  width: 571px;
}

.logo {
  width: 70px;
}
.input-control {
  border: none;
  border-bottom: 1px solid;
  background: transparent;
  border-radius: 0;
}
.footer {
  background-color: #000000;
}
.site-header a {
  color: #999;
  transition: ease-in-out color 0.15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}

/*
   * Extra utilities
   */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
